<header class="site-header" role="banner">

  <div class="wrapper">
    <a class="site-title" rel="author" href="{{ .Site.BaseURL }}">{{ .Title }}</a>

      <nav class="site-nav">
        <input class="nav-trigger" id="nav-trigger" type="checkbox"/>
        <label for="nav-trigger">
          <span class="menu-icon">
            {{ partial "global/components/svg.html" . }}
          </span>
        </label>

        <div class="trigger">
          {{ range .Site.Menus.main }}
            <a class="page-link" href="{{ .URL }}">{{ .Name }}</a>
          {{ end }}
        </div>
      </nav>

  </div>
</header>
